@{
    ViewBag.Title = "Index";
}

<p>
    @ViewBag.Thanks
</p>

<div class="content-block">
    
    @Html.ActionLink("Create New Observation", "Create", null, new { @class = "button" })

</div>

<div class="content-image-block">
    <img src="~/Content/images/costain_logo.bmp" alt="" class="costain-logo"/>
    <img src="~/Content/images/Target_Zero.png" alt="" class="target_zero-logo" />
    <img src="~/Content/images/BSIF.jpg" alt="" class="bsif-logo"/>
</div>